@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#cacheviewer-button {
  list-style-image: url("chrome://cacheviewer/skin/cacheviewer.png") !important;
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}

toolbar[iconsize="small"] #cacheviewer-button {
  list-style-image: url("chrome://cacheviewer/skin/cacheviewer_small.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
